body {
    background: #680000;
}

h1,
h2 {
    color: turquoise;
    text-align: center;
}

h4 {
    text-align: center;
    color: white;
}

.title {
    text-decoration: underline overline;
}

form {
    text-align: center;
    color: white;
}

/* ========== bootstrap timeline css ========== */
.timeline {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
    color: white;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: hsl(0, 0%, 90%);
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}

/* ======================================== */

/* technical skills */

.technical-skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.skill {
    display: inline-block;
    padding: 20px 20px;
}

.links {
    text-align: center;
}

/* center bootstrap cards */
.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    display: inline-block;
    margin: 1rem;
}
